.wrapper{
	width: 80%;
	height: 200%;
	margin: 0 auto;
	background:url('../images/bkgrd.jpg') no-repeat;
	background-size: 100%;
}

.header{
	border-collapse: collapse;
	margin: 0 auto;
}
.header td{
	font-size: 200%;
	font-weight: bold;
	padding: 5px;
}
.header a{
	text-decoration: none;
	display: block;
}
/* hover to display */
.shown:hover .hidden{
	display: block;
}
.hidden{
	display: none;
	position: absolute;
	list-style: none;
	margin: 5px auto;
	padding: 0px;
}
.hidden li a{
	font-size: 70%;
	text-align: center;
}
.hidden li a:hover{
	color: #b4bbc3;
}